* { margin: 0;
padding: 1;}
body{ 
    box-sizing: border-box;
    height: 100vh;
    background-color: burlywood;
    color: white;}
strong{
    color:black
}
h1{
    font-weight: bold;
}

span{
    color: blueviolet;
    border: 3px solid white;
    padding: 0px;
}