 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

 :root{
    --cor-primaria: #2e2e2e;
    --cor-seundaria: #f6f6f6;
    --cor-terciaria: #efbc98;
    --fonte-principal:'Nunito', sans-serif;     
 }

*{ margin: 0;
padding:  0;
}
body{ 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-seundaria);}

.cabecalho{ 
    padding: 1% 0% 0% 40%;
}
.cabecalho_menu{
    display: flex;
    gap: 0px;
    flex-direction: column;
}
.cabecalho_link{
font-family: 'Mina', sans-serif;
font-size: 1.25rem;
color: var(--cor-seundaria);
text-decoration: none;
}


h1{
    font-weight: bold;
}
span{
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-seundaria);
    border-radius: 16%;
    padding: 1px;
}
span2{
    color: var(--cor-terciaria);

}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.apresentacao2{
    padding: 1% 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.distancia_das_letras {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about{
    padding: 1% 10% ;
    font-family: var(--fonte-principal);
    font-size: 1.0rem;
}
.tamanho_titulo {
    width: 50%;
    font-size: 2.25rem;
    font-family: 'Mina', sans-serif;
}
.fonte_texto{
    width: 100%;
    font-size: 2.15rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fonte-principal);
    font-size: 1.15rem;
    align-items: center;
    gap: 40px;

}
.estilo_links{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: var(--cor-terciaria);
    width: 40%;
    text-align: center;
    padding: 15px 0px;
    font-family: 'Nunito' sans-serif ;
    font-weight: 600;
    font-size: 1.70rem;
    text-decoration: none;
    border: 3px solid var(--cor-terciaria);
    border-radius: 9px;  
}
.estilo_links:hover{
 background: #272727;
 border: 2px solid var(--cor-seundaria)

}
.imagem {
 width: 25%;
 padding: 0% 20% 50% 0%;
}
.rodape{
    text-align: center;
    padding: 24px 15px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria) ;
    font-family: 'Nunito', sans-serif ;
    font-size: 1.20rem; 
}


.cabecalho_link:hover{
    color: #efbc98  ;
}


@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
        padding: 0% 40% 0%;
    }
   .tamanho_titulo{
        padding: 0% 30% 0%;
       
    }
    .imagem{
      width: 50%;
      padding: 0% 0% 0% 0%;
    
    }
    .apresentacao{
        flex-direction: column-reverse ;
    }
    .distancia_das_letras{
      width: 100%;  
    }
}